PMMX/bin/
PMMX/obj/
PMMX/packages/
PMMX.Modelo/bin/
PMMX.Modelo/obj/
PMMX.Multimedia/bin/
PMMX.Multimedia/obj/
PMMX.Operaciones/obj/
PMMX.Operaciones/bin/
PMMX.OperacionesTests1/bin/
PMMX.OperacionesTests1/obj/
PMMX.Prueba/obj/
PMMX.Prueba/bin/
PMMX.Seguridad/bin/
PMMX.SeguridadTests/bin/
PMMX.Seguridad/obj/
PMMX.SeguridadTests/obj/
PMMX.WareHouse/bin/
PMMX.WareHouse/obj/
SitioTests/bin/
SitioTests/obj/
SitioTests/SitioTests.csproj.user
PMMX/Sitio.csproj.user
PMMX/.vs/config/applicationhost.config
PMMX/.vs/PMMX/v15/.suo
.vs/PMMX/v15/.suo
