.vs/
Sitio/PMMX.Sitio/bin/
Sitio/PMMX.Sitio/obj/
Sitio/PMMX.Sitio/packages/
Sitio/PMMX.Sitio/.vs/
Sitio/PMMX.Sitio/Sitio.csproj.user
Sitio/PMMX.SitioTests/bin/
Sitio/PMMX.SitioTests/obj/
Sitio/PMMX.SitioTests/SitioTests.csproj.user
Multimedia/PMMX.Multimedia/PMMX.Multimedia.csproj.user
Multimedia/PMMX.Multimedia/bin/
Multimedia/PMMX.Multimedia/obj/
Operaciones/PMMX.Operaciones/obj/
Operaciones/PMMX.Operaciones/bin/
Operaciones/PMMX.Operaciones/PMMX.Operaciones.csproj.user
Operaciones/PMMX.OperacionesTests/bin/
Operaciones/PMMX.OperacionesTests/obj/
Operaciones/PMMX.OperacionesTests/PMMX.OperacionesTests.csproj.user
Seguridad/PMMX.Seguridad/bin/
Seguridad/PMMX.SeguridadTests/bin/
Seguridad/PMMX.Seguridad/obj/
Seguridad/PMMX.SeguridadTests/obj/
Seguridad/PMMX.Seguridad/PMMX.Seguridad.csproj.user
Seguridad/PMMX.SeguridadTests/PMMX.SeguridadTests.csproj.user
WareHouse/PMMX.WareHouse/bin/
WareHouse/PMMX.WareHouse/obj/
WareHouse/PMMX.WareHouse/PMMX.WareHouse.csproj.user


PMMX.Modelo/bin/
PMMX.Modelo/obj/
PMMX.Modelo/PMMX.Modelo.csproj.user
PMMX.Infraestructura/obj/
PMMX.Infraestructura/bin/
PMMX.Infraestructura/PMMX.Infraestructura.csproj.user
