
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PMMX - Aplicaciones</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/device-mockups/device-mockups.min.css" rel="stylesheet" />
    <link href="~/css/new-age.css" rel="stylesheet" />


</head>

<body id="page-top">
    <div class="alert alert-success" role="alert">
        Solicitud enviada satisfactoriamente, te notificaremos por correo cuando la solicitud sea atendida y puedas descargar la aplicacion en tu Iphone
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/popper/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/new-age.min.js"></script>

</body>

</html>