@using Sitio.Helpers
@model IEnumerable<PMMX.Modelo.Entidades.VolumenDeProduccion>

@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Volumenes de Produccion - FA</h3>
                <div class="box-tools">
                    @Ajax.MenuLink(" Reporte", string.Format("{0:c}", "fa fa-list"), "Reporte", "VolumenesDeProduccion", new { area = "Operaciones" }, null, new { @class = "btn btn-primary btn-sm" })

                    @Ajax.MenuLink(" Nuevo", string.Format("{0:c}", "fa fa-plus"), "Create", "VolumenesDeProduccion", new { area = "Operaciones" }, null, new { @class = "btn btn-primary btn-sm" })

                    @Ajax.MenuLink(" Upload", string.Format("{0:c}", "fa fa-cloud-upload"), "Upload", "VolumenesDeProduccion", new { area = "Operaciones" }, null, new { @class = "btn btn-primary btn-sm" })


                </div>
            </div>
            <div class="box-body">
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
}
