@model List<PMMX.Modelo.Vistas.MenuView>

<ul class="sidebar-menu" data-widget="tree">
    @*@foreach (var item in Model)
    {*@
        <li class="treeview">
            <a href="#">
                <i class="fa fa-files-o"></i>
                <span> @Html.Display(Model[0].Nombre)</span>
            </a>
        </li>
    @*}*@
</ul>

   